<html>
<textarea name=""  id="textarea" cols="30" rows="10"></textarea>
<input type="button" value="提交" id="click">
<textarea name=""  id="push" cols="30" rows="10"></textarea>


<script type="text/javascript" src="http://s1.bdstatic.com/r/www/cache/static/jquery/jquery-1.10.2.min_f2fb5194.js"></script>
<script>
    var ws = new WebSocket("ws://192.168.36.131:9501");
    ws.onopen = function(){ws.send("Test!"); };
    $('#click').click(function(){
        var data=$('#textarea').val();
        var sendto={
            url:'index/add',
            data:data,
        };
        sendto= JSON.stringify(sendto);
        sendto+="\r\n\r\n";
        ws.send(sendto);
    });
    ws.onmessage=function(event){
        var data= $.parseJSON(event.data);
        var message=$('#push').val();
        console.log(message);
        message+=data.message+"\n";
        $('#push').val(message);
    }
</script>
</html>